@import "../../../style/default_variables.scss";
.auth__wrapper {
  flex: 1;

  .auth__bg {
    width: 100%;
    background: url("../img/auth_bg.png") center center/cover no-repeat;
    height: 25%;
    margin-bottom: 90px;
  }
  .auth__enter__wrapper {
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 45px;

    .auth__enter__container {
      margin-bottom: 100px;

      .auth__enter {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .auth__title {
          color: rgba(26, 30, 38, 1);
          font-size: 22px;
          font-weight: 400;
          line-height: 34px;
          letter-spacing: 0em;
          text-align: center;
          margin-bottom: 10px;
        }

        .auth__info {
          font-size: 13px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0px;
          text-align: center;
          color: rgba(162, 162, 162, 1);
          margin-bottom: 20px;
        }
      }
    }
    .auth__btn__container {
      display: flex;
      align-items: center;
      flex-direction: column;

      .auth__btn {
        @include main_btn;
        margin-bottom: 10px;
        text-align: center;
      }

      .auth__white__btn {
        background-color: white;
        color: $main_color;
        border: 2px solid $main_color;
      }
    }
    .auth__line__container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 0px;

      .auth__line__text {
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.07999999821186066px;
        text-align: center;
        color: rgba(162, 162, 162, 1);
        padding: 0 20px;
      }
      .auth__line {
        height: 1px;
        width: 70px;
        border-radius: 0px;
        background: rgba(235, 235, 236, 1);
      }
    }
    .soсial__networks__container {
      display: flex;
      justify-content: center;

      .auth__item:last-child {
        margin-right: 0px;
      }

      .auth__item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-right: 20px;

        .auth__title__icons {
          font-size: 12px;
        }

        .auth__bg__icon {
          position: relative;
          width: 40px;
          height: 40px;
          background-color: rgba(26, 30, 38, 0.05);
          border-radius: 60%;
          margin-bottom: 10px;
          img {
            width: 45%;
          }

          .auth__icon {
            position: absolute;
            right: 11px;
            bottom: 11px;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .auth__wrapper {
    .auth__enter__wrapper {
      .auth__enter__container {
        .auth__enter {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          .auth__info {
            font-size: 12px;
          }
        }
      }

      .auth__btn__container {
        .auth__btn {
          width: 260px;
          height: 40px;
          padding-top: 12px;
          font-size: 14px;
        }
      }
    }
  }
}
