@import "../../../../style/default_variables.scss";

.restore__title {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.23999999463558197px;
  color: $main_color;
  padding: 0px 10px;
  text-align: center;
  margin-bottom: 20px;
}

.restore__container {
  margin-top: 25px;
}

@media (max-width: 400px) {
  .restore__title {
    font-size: 13px;
  }
}
