@import "../../../style/default_variables.scss";

.goods__card__wrapper {
  width: 350px;
  display: flex;
  padding: 0px 20px;
  margin: 20px auto;
  .goods__img {
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    img {
      display: block;
      width: 150px;
      height: 150px;
      border-radius: 17px;
    }
    .goods__heart {
      position: absolute;
      width: 15%;
      height: 15%;
      right: 10px;
      top: 5px;
    }
  }

  .goods__info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;

    .goods__title {
      line-height: 20px;
      .span {
        @include main_style_title;
      }
    }
    .goods__composition {
      color: $main_color;
      font-size: 12px;
      line-height: 17px;
      margin-bottom: 8px;
    }

    .goods__price {
      display: flex;

      .second__btn__gui {
        padding-top: 8px;
        margin: 0;
        height: 35px;
        width: 110px;
        font-size: 15px;
        font-weight: 500;
      }

      .second__btn__gui__container {
        padding: 0px;
      }
    }
  }
}

@media (max-width: 350px) {
  .goods__card__wrapper {
    width: 320px;
    .goods__info {
      .goods__title {
        font-size: 14.3px;
        line-height: 15px;
      }
      .goods__composition {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 2px;
      }
      .goods__price {
        .second__btn__gui {
          height: 30px;
          width: 90px;
          font-size: 12px;
        }
      }
    }
  }
}
