.address_wrapper__form {
  margin-top: 30px;

  padding: 0px 40px 80px 40px;

  .address__list {
    margin-bottom: 10px;
    .address__item {
      .address__container {
        display: flex;
        justify-content: space-between;

        .address__sub__item {
          margin-right: 15px;
        }

        .address__sub__item:last-child {
          margin-right: 0;
        }
      }
      .address__title {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 370px) {
  .address_wrapper__form {
    .address__list {
      .address__item {
        .address__title {
          font-size: 11px;
        }
      }
    }
    .address__add__success {
      font-size: 13px;
      padding: 10px 15px;
    }
  }
}
