.App {
  text-align: center;
}

.app__main__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.error_message {
  color: rgb(244, 99, 99);
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  margin-top: 10px;
}
