$main_color: rgba(162, 162, 162, 1);
$black: rgba(26, 30, 38, 1);
$gray: rgba(121, 121, 121, 1);

@mixin main_btn {
  text-align: center;
  height: 48px;
  width: 327px;
  border-radius: 10px;
  padding: 14px 16px 10px 16px;
  background: rgba(207, 34, 93, 1);
  color: rgba(255, 255, 255, 1);
}
@mixin main_style_title {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  color: rgba(26, 30, 38, 1);
}

@mixin main_header {
  border-bottom: 1px solid rgba(26, 30, 38, 0.1);
  text-align: center;
  padding-bottom: 10px;
  margin-top: 5px;
  font-size: 18px;
}
