$main_color: rgba(162, 162, 162, 1);

@mixin main_btn {
  text-align: center;
  height: 48px;
  width: 327px;
  border-radius: 10px;
  padding: 14px 16px 10px 16px;
  background: rgba(207, 34, 93, 1);
  color: rgba(255, 255, 255, 1);
}
