@import "../../../style/default_variables.scss";
.empty__wrapper {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;

  .empty__container {
    text-align: center;
    padding: 0px 10px;

    .empty__img {
      margin-bottom: 8px;

      img {
        max-width: 18%;
      }
    }
    .empty__title {
      @include main_style_title;
      margin-bottom: 2px;
      font-size: 13px;
    }
    .empty__description {
      color: $main_color;
      line-height: 22px;
      font-size: 12px;
    }
  }
}

@media (max-width: 355px) {
  .empty__description {
    font-size: 14px;
  }
}
