.map__wrapper {
  position: relative;
  padding-top: 10px;
  height: 100%;

  .map__container {
    height: 95%;
    margin-top: 15px;
    z-index: -12;
    iframe {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  .geo__wrapper {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 200px;
    bottom: 15px;
    border-radius: 50px 50px 0px 0px;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px -12px 15px 0px rgba(0, 0, 0, 0.16);

    .geo__title {
      display: flex;
      justify-content: space-between;

      .text {
        color: rgba(207, 34, 93, 1);
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 10px;
      }
      .delete {
        padding: 5px 5px 5px 10px;
        z-index: 11212;
        img {
          max-width: 135%;
          padding-right: 5px;
        }
      }
    }
    .geo__work::before {
      content: url("./icons/clock.svg");
      margin-right: 7px;
    }

    .geo__phone::before {
      content: url("./icons/↳\ phone.svg");
      margin-right: 7px;
    }
    .geo__work {
      margin-bottom: 10px;
    }
  }
}
